header {
	background: #808080;
	padding: 26px 20;
}
s
.caixa {
	position: relative;
	width: 100%;
	margin: 25 auto;
}

nav {
	position: absolute;
	top: 120px;
	right: 60;
}

nav li {
	display: inline;
	margin: 25 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #00ff00;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}
